.list-button{
    font-size: 20px;
    padding: 8px;


  }
  .list-button:hover{
    color: blue;
    cursor: pointer;
  }

  .dropdown-list-icon{
    color:rgb(60, 60, 60);
    padding: 7px 15px 5px 0px; 
  }

 /* 
  You want a simple and fancy tooltip?
  Just copy all [data-tooltip] blocks:
*/
[data-tooltip] {
  --arrow-size: 5px;
  position: relative;
  z-index: 10;
}

/* Positioning and visibility settings of the tooltip */
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  bottom: calc(100% + var(--arrow-size));
  pointer-events: none;
  transition: 0.2s;
  will-change: transform;
}

/* The actual tooltip with a dynamic width */
[data-tooltip]:before {
  content: attr(data-tooltip);
  padding: 10px 18px;
  min-width: 50px;
  max-width: 300px;
  width: max-content;
  width: -moz-max-content;
  border-radius: 6px;
  font-size: 14px;
  background-color: rgba(59, 72, 80, 0.9);
  background-image: linear-gradient(30deg,
    rgba(59, 72, 80, 0.44),
    rgba(59, 68, 75, 0.44),
    rgba(60, 82, 88, 0.44));
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  white-space: pre-wrap;
  transform: translate(-50%,  calc(0px - var(--arrow-size))) scale(0.5);
}

/* Tooltip arrow */
[data-tooltip]:after {
  content: '';
  border-style: solid;
  border-width: var(--arrow-size) var(--arrow-size) 0px var(--arrow-size); /* CSS triangle */
  border-color: rgba(55, 64, 70, 0.9) transparent transparent transparent;
  transition-duration: 0s; /* If the mouse leaves the element, 
                              the transition effects for the 
                              tooltip arrow are "turned off" */
  transform-origin: top;   /* Orientation setting for the
                              slide-down effect */
  transform: translateX(-50%) scaleY(0);
}

/* Tooltip becomes visible at hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
/* Scales from 0.5 to 1 -> grow effect */
[data-tooltip]:hover:before {
  transition-delay: 0.3s;
  transform: translate(-50%, calc(0px - var(--arrow-size))) scale(1);
}
/* 
  Arrow slide down effect only on mouseenter (NOT on mouseleave)
*/
[data-tooltip]:hover:after {
  transition-delay: 0.5s; /* Starting after the grow effect */
  transition-duration: 0.2s;
  transform: translateX(-50%) scaleY(1);
}
/*
  That's it for the basic tooltip.

  If you want some adjustability
  here are some orientation settings you can use:
*/

/* LEFT */
/* Tooltip + arrow */
[data-tooltip-location="left"]:before,
[data-tooltip-location="left"]:after {
  left: auto;
  right: calc(100% + var(--arrow-size));
  bottom: 50%;
}

/* Tooltip */
[data-tooltip-location="left"]:before {
  transform: translate(calc(0px - var(--arrow-size)), 50%) scale(0.5);
}
[data-tooltip-location="left"]:hover:before {
  transform: translate(calc(0px - var(--arrow-size)), 50%) scale(1);
}

/* Arrow */
[data-tooltip-location="left"]:after {
  border-width: var(--arrow-size) 0px var(--arrow-size) var(--arrow-size);
  border-color: transparent transparent transparent rgba(55, 64, 70, 0.9);
  transform-origin: left;
  transform: translateY(50%) scaleX(0);
}
[data-tooltip-location="left"]:hover:after {
  transform: translateY(50%) scaleX(1);
}



/* RIGHT */
[data-tooltip-location="right"]:before,
[data-tooltip-location="right"]:after {
  left: calc(100% + var(--arrow-size));
  bottom: 50%;
}

[data-tooltip-location="right"]:before {
  transform: translate(var(--arrow-size), 50%) scale(0.5);
}
[data-tooltip-location="right"]:hover:before {
  transform: translate(var(--arrow-size), 50%) scale(1);
}

[data-tooltip-location="right"]:after {
  border-width: var(--arrow-size) var(--arrow-size) var(--arrow-size) 0px;
  border-color: transparent rgba(55, 64, 70, 0.9) transparent transparent;
  transform-origin: right;
  transform: translateY(50%) scaleX(0);
}
[data-tooltip-location="right"]:hover:after {
  transform: translateY(50%) scaleX(1);
}



/* BOTTOM */
[data-tooltip-location="bottom"]:before,
[data-tooltip-location="bottom"]:after {
  top: calc(100% + var(--arrow-size));
  bottom: auto;
}

[data-tooltip-location="bottom"]:before {
  transform: translate(-50%, var(--arrow-size)) scale(0.5);
}
[data-tooltip-location="bottom"]:hover:before {
  transform: translate(-50%, var(--arrow-size)) scale(1);
}

[data-tooltip-location="bottom"]:after {
  border-width: 0px var(--arrow-size) var(--arrow-size) var(--arrow-size);
  border-color: transparent transparent rgba(55, 64, 70, 0.9) transparent;
  transform-origin: bottom;
}






@media (max-height: 450px) {
  main {
    margin: 2rem 0;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 0.9em;
  }
}

/* Thumbnail settings */
@media (max-width: 750px) {
   
  [data-tooltip]:after {
    bottom: calc(100% + 3px);
  }
  [data-tooltip]:after {
    border-width: 7px 7px 0px 7px;
  }
}

.pointer{
  cursor: pointer;
}


/* toggle switches with bootstrap default colors */
.custom-control-input-success:checked ~ .custom-control-label::before {
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}

.custom-control-input-danger:checked ~ .custom-control-label::before {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.custom-control-input-warning:checked ~ .custom-control-label::before {
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
}

.custom-control-input-info:checked ~ .custom-control-label::before {
  background-color: #17a2b8 !important;
  border-color: #17a2b8 !important;
}

/* Large toggl switches */
.custom-switch-lg .custom-control-label::before {
  left: -2.25rem;
  width: 3rem;
  border-radius: 1.5rem;
}

.custom-switch-lg .custom-control-label::after {
  top: calc(.25rem + 3px);
  left: calc(-2.25rem + 4px);
  width: calc(1.5rem - 6px);
  height: calc(1.5rem - 6px);
  border-radius: 1.5rem;
}

.custom-switch-lg .custom-control-input:checked ~ .custom-control-label::after {
  transform: translateX(1.4rem);
}

.custom-switch-lg .custom-control-label::before {
  height: 1.5rem;
}

.custom-switch-lg .custom-control-label {
  padding-left: 1.5rem;
  line-height: 1.7rem;
}

.flex-grow{
  flex-grow: 1;
}



.list-button{
  font-size: 1.5em;
  color: #888;
  transition: color 0.4s ease;
  padding: 6px !important;
 
}
.list-button:hover{
  cursor: pointer;
  background-color: #ddd;
  color: black;
  border-radius: 8px;
  transition: background-color 0.4s ease;
}




/* 

.loader{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  z-index: 9999;
  margin: 0 auto;
  animation: loading-1 0.8s infinite;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.loader:before,
.loader:after{
  content: "";
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 50%;
  border: 5px solid transparent;
  border-left: 5px solid #007bff;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
}
.loader:after{
  border: 5px solid transparent;
  border-right: 5px solid #007bff;
  position: absolute;
}
.loader .loader-inner{
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px solid #12ac92;
  margin: 0 auto 0 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
}
.loader .loader-inner:before,
.loader .loader-inner:after{
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-left: 5px solid #e3b505;
  margin-left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
}
.loader .loader-inner:after{
  border: 5px solid transparent;
  border-right: 5px solid #e3b505;
}
@keyframes loading-1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
 
}

.loader {
  animation: loading-1 2s infinite;
  -webkit-animation: loading-1 2s infinite;
} */
/* @keyframes loading-1{
  0%{ transform: rotate(180deg); }
  100%{ transform: rotate(360deg); }
} */

.main-loader{
  width: 54px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  opacity: 1 !important;
}

.loader-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  background-color: #ffffff;

}

.loader{
  width: 40px;
  height: 40px;
  position: relative;
  left: 50%;
  opacity: 1 !important;
}
.loader span{
  width: 20px;
  height: 20px;
  display: block;
  background: #007bff;
  position: absolute;
  bottom: 0px;
  opacity: 1 !important;
}
.loader span:nth-child(1){
  -webkit-animation: loader-1 1.5s infinite ease-in-out;
  -moz-animation: loader-1 1.5s infinite ease-in-out;
  -ms-animation: loader-1 1.5s infinite ease-in-out;
  animation: loader-1 1.5s infinite ease-in-out;
}
.loader span:nth-child(2){
  left:20px;
  -webkit-animation: loader-2 1.5s infinite ease-in-out;
  -moz-animation: loader-2 1.5s infinite ease-in-out;
  -ms-animation: loader-2 1.5s infinite ease-in-out;
  animation: loader-2 1.5s infinite ease-in-out;
}
.loader span:nth-child(3){
  top:0px;
  -webkit-animation: loader-3 1.5s infinite ease-in-out;
  -moz-animation: loader-3 1.5s infinite ease-in-out;
  -ms-animation: loader-3 1.5s infinite ease-in-out;
  animation: loader-3 1.5s infinite ease-in-out;
}
.loader span:nth-child(4){
  top:0px;
  left:20px;
  -webkit-animation: loader-4 1.5s infinite ease-in-out;
  -moz-animation: loader-4 1.5s infinite ease-in-out;
  -ms-animation: loader-4 1.5s infinite ease-in-out;
  animation: loader-4 1.5s infinite ease-in-out;
}
/*first*/
@-webkit-keyframes loader-1 {
  0% {-webkit-transform: translateX(0px) translateY(0px)  rotate(0deg); border-radius:0px;}
  50% {-webkit-transform: translateX(-20px) translateY(-10px) rotate(-180deg); border-radius:20px;background:#d0c91f;}
  80% {-webkit-transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
  100% {-webkit-transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
}
@-moz-keyframes loader-1 {
  0% {-moz-transform: translateX(0px) translateY(0px)  rotate(0deg); border-radius:0px;}
  50% {-moz-transform: translateX(-20px) translateY(-10px) rotate(-180deg); border-radius:20px;background:#d0c91f;}
  80% {-moz-transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
  100% {-moz-transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
}
@-ms-keyframes loader-1 {
  0% {-ms-transform: translateX(0px) translateY(0px)  rotate(0deg); border-radius:0px;}
  50% {-ms-transform: translateX(-20px) translateY(-10px) rotate(-180deg); border-radius:20px;background:#d0c91f;}
  80% {-ms-transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
  100% {-ms-transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
}
@-keyframes loader-1 {
  0% {-transform: translateX(0px) translateY(0px)  rotate(0deg); border-radius:0px;}
  50% {-transform: translateX(-20px) translateY(-10px) rotate(-180deg); border-radius:20px;background:#d0c91f;}
  80% {-transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
   100% {-transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
}
/*second*/
@-webkit-keyframes loader-2 {
  0% {-webkit-transform: translateX(0px) translateY(0px)  rotate(0deg);border-radius:0px;}
  50% {-webkit-transform: translateX(20px) translateY(-10px) rotate(180deg);border-radius:20px;background:#5d3347;}
  80% {-webkit-transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
  100% {-webkit-transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
}
@-moz-keyframes loader-2 {
  0% {-moz-transform: translateX(0px) translateY(0px)  rotate(0deg);border-radius:0px;}
  50% {-moz-transform: translateX(20px) translateY(-10px) rotate(180deg);border-radius:20px;background:#5d3347;}
  80% {-moz-transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
  100% {-moz-transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
}
@-ms-keyframes loader-2 {
  0% {-ms-transform: translateX(0px) translateY(0px)  rotate(0deg);border-radius:0px;}
  50% {-ms-transform: translateX(20px) translateY(-10px) rotate(180deg);border-radius:20px;background:#5d3347;}
  80% {-ms-transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
  100% {-ms-transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
}
@-keyframes loader-2 {
  0% {-transform: translateX(0px) translateY(0px)  rotate(0deg);border-radius:0px;}
  50% {-transform: translateX(20px) translateY(-10px) rotate(180deg);border-radius:20px;background:#5d3347;}
  80% {-transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
  100% {-transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
}
/*third*/
@-webkit-keyframes loader-3 {
  0% {-webkit-transform: translateX(0px) translateY(0px)  rotate(0deg);border-radius:0px;}
  50% {-webkit-transform: translateX(-20px) translateY(10px) rotate(-180deg); border-radius:20px;background:#6997c5;}
  80% {-webkit-transform: translateX(0px) translateY(0px) rotate(-360deg);border-radius:0px;}
  100% {-webkit-transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
}
@-moz-keyframes loader-3 {
  0% {-moz-transform: translateX(0px) translateY(0px)  rotate(0deg);border-radius:0px;}
  50% {-moz-transform: translateX(-20px) translateY(10px) rotate(-180deg); border-radius:20px;background:#6997c5;}
  80% {-moz-transform: translateX(0px) translateY(0px) rotate(-360deg);border-radius:0px;}
  100% {-moz-transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
}
@-ms-keyframes loader-3 {
  0% {-ms-transform: translateX(0px) translateY(0px)  rotate(0deg);border-radius:0px;}
  50% {-ms-transform: translateX(-20px) translateY(10px) rotate(-180deg); border-radius:20px;background:#6997c5;}
  80% {-ms-transform: translateX(0px) translateY(0px) rotate(-360deg);border-radius:0px;}
  100% {-ms-transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
}
@-keyframes loader-3 {
  0% {-transform: translateX(0px) translateY(0px)  rotate(0deg);border-radius:0px;}
  50% {-transform: translateX(-20px) translateY(10px) rotate(-180deg); border-radius:20px;background:#6997c5;}
  80% {-transform: translateX(0px) translateY(0px) rotate(-360deg);border-radius:0px;}
   100% {-transform: translateX(0px) translateY(0px) rotate(-360deg); border-radius:0px;}
}
/*fourth*/
@-webkit-keyframes loader-4 {
  0% {-webkit-transform: translateX(0px) translateY(0px)  rotate(0deg); border-radius:0px;}
  50% {-webkit-transform: translateX(20px) translateY(10px) rotate(180deg); border-radius:20px;background:#588c73;}
  80% {-webkit-transform: translateX(0px) translateY(0px) rotate(360deg); border-radius:0px;}
  100% {-webkit-transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
}
@-moz-keyframes loader-4 {
  0% {-moz-transform: translateX(0px) translateY(0px)  rotate(0deg); border-radius:0px;}
  50% {-moz-transform: translateX(20px) translateY(10px) rotate(180deg); border-radius:20px;background:#588c73;}
  80% {-moz-transform: translateX(0px) translateY(0px) rotate(360deg); border-radius:0px;}
  100% {-moz-transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
}
@-ms-keyframes loader-4 {
  0% {-ms-transform: translateX(0px) translateY(0px)  rotate(0deg); border-radius:0px;}
  50% {-ms-transform: translateX(20px) translateY(10px) rotate(180deg); border-radius:20px;background:#588c73;}
  80% {-ms-transform: translateX(0px) translateY(0px) rotate(360deg); border-radius:0px;}
  100% {-ms-transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
}
@-keyframes loader-4 {
  0% {-transform: translateX(0px) translateY(0px)  rotate(0deg); border-radius:0px;}
  50% {-transform: translateX(20px) translateY(10px) rotate(180deg); border-radius:20px;background:#588c73;}
  80% {-transform: translateX(0px) translateY(0px) rotate(360deg); border-radius:0px;}
   100% {-transform: translateX(0px) translateY(0px) rotate(360deg);border-radius:0px;}
}

